.confirmation .StripeCheckout {
    font-size: 43px !important;
    width: 189px !important;
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}